@import "../../utils/mixins.scss";

.logo {
  height: 25px;
  width: 90px;

  @include onDesktop {
    height: 33px;
    width: 142px;
  }
}

.register__contact {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'Montserrat', sans-serif;
}

.register__tel-icon {
  background-image: url(../../images/icons/iconoir_smartphone-device.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 24px;
  width: 24px;
}

.register__number {
  display: none;

  @include onDesktop {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
}

.register_top-bar {
  background: linear-gradient(180deg,#1C323F 0%, #1E3441 100%);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 105px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 60px;

  margin-bottom: 30px;
}

.register_main_wrap {
  padding-inline: 8px;
  margin-bottom: 15px;

  display: flex;
  justify-content: center;

  @include onDesktop {
    padding-inline: 60px;
    margin-bottom: 37px;
  }
}

.register_main {
  background-color: rgba(235, 241, 245, 1);
  border-radius: 35px;
  max-width: 1335px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-inline: 16px;
  padding-bottom: 25px;
  padding-top: 25px;

  @include onDesktop {
    flex-direction: row;
    justify-content: space-between;
    gap: 198px;
    padding-inline: 69px;
    padding-bottom: 70px;
    padding-top: 70px;
  }
}

.welcome_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;

  // max-width: 250px;

  @include onDesktop {
    max-width: 593px;
  }
}

.welcome_title {
  margin: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Unbounded', sans-serif;
  
  font-size: 18px;
  width: 250px;
  margin-bottom: 10px;

  @include onDesktop {
    font-size: 36px;
    width: 562px;
    margin-bottom: 21px;
  }
}

.welcome_subtitle {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 41px;
}

.register_form {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 16px 0px rgba(31, 59, 75, 0.15);
  border-radius: 20px;
  padding-inline: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 300px;

  @include onDesktop {
    border-radius: 35px;
    padding-inline: 37px;
    padding-top: 26px;
    padding-bottom: 26px;
    max-width: 406px;
  }
}

.form_title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;

  margin-bottom: 37px;
}

.input_name {
  border: 1px solid rgba(198, 209, 215, 1);
  border-radius: 10px;
}

.input_password {
  border: 1px solid rgba(198, 209, 215, 1);
  border-radius: 10px;
}

.input_repeat_password {
  border: 1px solid rgba(198, 209, 215, 1);
  border-radius: 10px;
  width: 100%;
}

.input {
  height: 52px;
  padding: 17px 0 15px 16px;
  box-sizing: border-box;
  outline: none;
}

.input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgba(81, 88, 92, 1);
  font-family: 'Montserrat', sans-serif;
}

.form_subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
  max-width: 268px;

  margin-bottom: 39px;
}

.conditions {
  text-decoration: underline;
  font-weight: 600;

  margin: 0 auto;
}

.form_button {
  width: 332px;
  height: 56px;
  background-color: rgba(244, 119, 13, 1);
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 18px;
  cursor: pointer;
}

.button_wrap {
  display: flex;
  justify-content: center;
}

.form_bottom {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
}

.form_bottom-link {
  font-weight: 600;
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
}

.fieldset {
  border: 1px solid rgba(198, 209, 215, 1);
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 7px;
  margin-left: -1px;
}

.legend {
  margin-left: 40px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(81, 88, 92, 1);
  font-family: 'Montserrat', sans-serif;
}

.option {
  font-size: 16px;
  font-weight: 600;
  color: rgba(81, 88, 92, 1);
  font-family: 'Montserrat', sans-serif;

  display: flex;
  align-items: center;
  gap: 6px;
}

.select_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.select {
  border: none;
}

.tel_input {
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: rgba(81, 88, 92, 1);
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

.password_wrap_first {
  position: relative;
}

.password_wrap_second {
  position: relative;
}

.eye_icon_first {
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

.eye_icon_second {
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}
