@import "../utils/mixins.scss";

.profile_info_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include onDesktop {
    gap: 55px;
    flex-direction: row;
  }
}

.profile_info_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include onDesktop {
    gap: 40px;
  }
}

.basic_info {
  display: flex;
  flex-direction: column;

  background: rgba(254, 254, 254, 1);
  box-shadow: 0px 4px 16px 0px rgba(31, 59, 75, 0.15);
  box-sizing: border-box;
  padding: 18px 24px 20px 15px;
  border-radius: 35px;

  width: 280px;

  @include onDesktop {
    width: 751px;
    padding: 36px 45px 40px 30px;
  }
}

.icon_edit {
  background-image: url(../images/icons/iconoir_edit-pencil.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 24px;
  width: 24px;

  cursor: pointer;

  &:hover {
    box-shadow: gray 1px 1px;
    border-radius: 20px;
  }
}

.icon_cancel {
  background-image: url(../images/icons/eidt-cancel.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 24px;
  width: 24px;

  cursor: pointer;

  &:hover {
    box-shadow: gray 1px 1px;
    border-radius: 20px;
  }
}

.basic_info_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 38px;
}

.basic_info_title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
}

.basic_info_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo {
  background: rgba(254, 254, 254, 1);
  box-shadow: 0px 4px 16px 0px rgba(31, 59, 75, 0.15);
  border-radius: 35px;
  width: 280px;
  padding: 18px 28px 20px 15px;

  display: flex;
  flex-direction: column;
  gap: 35px;
  box-sizing: border-box;

  @include onDesktop {
    gap: 35px;
    width: 751px;
    padding: 38px 57px 45px 30px;
  }
}

.photo_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;

  @include onDesktop {
    gap: 19px;
    flex-direction: row;
    justify-content: center;
  }
}

.photo_img {
  background-color: rgba(93, 113, 124, 1);
  border-radius: 50%;
  height: 125px;
  width: 125px;
}

.photo_title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
}

.photo_subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
  max-width: 522px;
}

.gray {
  color: rgba(93, 113, 124, 1);
}

.additional_contacts {
  display: flex;
  flex-direction: column;
  
  background: rgba(254, 254, 254, 1);
  box-shadow: 0px 4px 16px 0px rgba(31, 59, 75, 0.15);
  box-sizing: border-box;
  border-radius: 35px;
  width: 280px;
  gap: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 18px;
  padding-bottom: 18px;

  @include onDesktop {
    gap: 38px;
    width: 751px;
    padding-left: 30px;
    padding-right: 45px;
    padding-top: 27px;
    padding-bottom: 55px;
  }
}

.additional_contacts_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.additional_contacts_title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
}

.additional_contacts_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about_yourself {
  display: flex;
  flex-direction: column;
  
  background: rgba(254, 254, 254, 1);
  box-shadow: 0px 4px 16px 0px rgba(31, 59, 75, 0.15);
  box-sizing: border-box;
  border-radius: 35px;
  width: 280px;
  gap: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 18px;
  padding-bottom: 18px;

  @include onDesktop {
    gap: 38px;
    width: 751px;
    padding-left: 30px;
    padding-right: 45px;
    padding-top: 27px;
    padding-bottom: 55px;
  }
}

.about_yourself_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about_yourself_title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
}

.about_yourself_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.speciality_info {
  display: flex;
  flex-direction: column;
  
  background: rgba(254, 254, 254, 1);
  box-shadow: 0px 4px 16px 0px rgba(31, 59, 75, 0.15);
  box-sizing: border-box;
  border-radius: 35px;
  width: 280px;
  gap: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 18px;
  padding-bottom: 18px;

  @include onDesktop {
    gap: 38px;
    width: 751px;
    padding-left: 30px;
    padding-right: 45px;
    padding-top: 27px;
    padding-bottom: 55px;
  }
}

.speciality_info_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.speciality_info_title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
}

.speciality_info_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: rgba(93, 113, 124, 1);
  font-family: 'Montserrat', sans-serif;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
  height: 280px;

  @include onDesktop {
    font-size: 16px;
    gap: 25px;
    height: 200px;
  }
}

.profile_info_right {
  margin-top: 20px;

  @include onDesktop {
    margin-top: 0;
  }
}

.number_for_entry {
  background: rgba(254, 254, 254, 1);
  box-shadow: 0px 4px 16px 0px rgba(31, 59, 75, 0.15);
  box-sizing: border-box;
  border-radius: 35px;
  width: 280px;

  padding: 18px 15px 18px 15px;

  display: flex;
  flex-direction: column;

  @include onDesktop {
    width: 511px;
    padding: 28px 34px 30px 32px;
  }
}

.number_title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;

  margin-bottom: 10px;

  @include onDesktop {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.number_subtitle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
  line-height: 17px;

  margin-bottom: 10px;
  max-width: 250px;

  @include onDesktop {
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 13px;
    max-width: 377px;
  }
}

.orange_block {
  background: rgba(244, 119, 13, 0.2);
  height: 92px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;

  padding: 15px 18px 15px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include onDesktop {
    height: 92px;
    width: 100%;
    padding: 29px 72px 29px 18px;
    gap: 18px;
  }
}

.icon_warning {
  background-image: url(../images/icons/icon-park-outline_attention.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 30px;
  width: 55px;
}

.orange_block_text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
}

.link_to_setupe {
  color: rgba(244, 119, 13, 1);
  text-decoration: underline;
}

.basic_info_form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.basic_elements {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: 16px;
  font-weight: 500;
  color: rgba(93, 113, 124, 1);
  font-family: 'Montserrat', sans-serif;
}

.input {
  border: 1.5px solid rgba(198, 209, 215, 1);
  border-radius: 10px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(93, 113, 124, 1);
  font-family: 'Montserrat', sans-serif;
}

.submit_buttons {
  display: flex;
  justify-content: space-between;
}

.type_button {
  height: 63px;
  width: 192px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.cancel_button {
  border: none;
  background: rgba(244, 119, 13, 0.2);
}

.save_button {
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 16px 0px rgba(31, 59, 75, 0.15);
}
